@inject UserManager<ApplicationUser> UserManager
@inject IPlayerService PlayerService;

@{
    bool isPlayer = await PlayerService.PlayerExistsByUserIdAsync(User.Id());
}

<ul class="navbar-nav flex-grow-1">
    
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Club" asp-action="All">Тенис-Клубове</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Tournament" asp-action="All">Турнири</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Player" asp-action="All">Ранглиста</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="All">Статии</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Tournament" asp-action="Mine">Моите Турнири</a>
    </li>
    @if (!isPlayer)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Player" asp-action="Become">Регистрация за нов играч</a>
        </li>
    }
</ul>